.addbtn
{
    cursor: pointer;
    min-width: 80px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: rgb(28, 37, 54);
    justify-content: center;
    flex-direction: column;
    color: white;

}
.react-flow__node{
    background-color:rgb(67,11,138);
    color: white;
    width: 100px;
}
.react-flow
{
    background-color: rgb(29,8,77);
}
.react-flow__node-default{
    width: 200px;
    height: 100px;
}